{{!-- {{> nav}} --}}

{{!-- <h1>Tienda de productos</h1> --}}
<button id="formButton">Cargar producto</button>
<p></p>
<table>
  <caption>
    Productos
  </caption>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Imagen</th>
    </tr>

{{#if hasAny}}
{{#each products}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.price}}</td>
    <td><img src="{{this.thumbnail}}" alt="" width="50"></td>
  </tr>
{{/each}}
{{else}}
<td colspan="3">No hay productos</td>
{{/if}}
</table>
<script>
  const formButton = document.getElementById("formButton");
  formButton.addEventListener("click", (event) => {
    window.location = "/";
  });
</script>